<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <httpRequestBegin>
                <processor patch:instead="*[@type='Sitecore.XA.Foundation.Multisite.Pipelines.HttpRequest.LocalizableUrlItemResolver, Sitecore.XA.Foundation.Multisite']" type="Sitecore.Support.XA.Foundation.Multisite.Pipelines.HttpRequest.LocalizableUrlItemResolver, Sitecore.Support.379395" resolve="true">
                    <CacheExpiration>5</CacheExpiration>
                </processor>
                <processor patch:instead="*[@type='Sitecore.XA.Feature.Redirects.Pipelines.HttpRequest.RedirectMapResolver, Sitecore.XA.Feature.Redirects']" type="Sitecore.Support.XA.Feature.Redirects.Pipelines.HttpRequest.RedirectMapResolver, Sitecore.Support.379395" resolve="true">
                    <CacheExpiration>720</CacheExpiration>
                </processor>
            </httpRequestBegin>
            <preprocessRequest>
                <processor patch:instead="*[@type='Sitecore.XA.Foundation.SitecoreExtensions.Pipelines.PreprocessRequest.FilterUrlFilesAndExtensions, Sitecore.XA.Foundation.SitecoreExtensions']"
                           type="Sitecore.Support.XA.Foundation.SitecoreExtensions.Pipelines.PreprocessRequest.FilterUrlFilesAndExtensions, Sitecore.Support.379395">
                    <param desc="Allowed extensions (comma separated)">aspx, ashx, asmx</param>
                    <param desc="Blocked extensions (comma separated)">*</param>
                    <param desc="Blocked extensions that stream files (comma separated)">*</param>
                    <param desc="Blocked extensions that do not stream files (comma separated)"/>
                </processor>
            </preprocessRequest>
        </pipelines>
    </sitecore>
</configuration>